<nav class="navbar navbar-expand-lg navbar-dark bg-black app-navbar">
  <div class="container-fluid nav-div">

    <div class=" mobile-view row">
      <div class="col-2">
        <!-- Expand/Collapse Button -->
        <button #toggleBtn class="toggle-btn" (click)="toggleSidebar()">
          <i class="bi" [ngClass]="{'bi-list': !isSidebarOpen, 'bi-x-lg': isSidebarOpen}"></i>
        </button>
      </div>
      <div *ngIf="headerConfig.showLogo" class="col-8">
        <!-- Company Name -->
        <a class="navbar-brand text-yellow" href="#">Y Company</a>

      </div>
      <!-- User Icon and Checkout Icon on the Right -->
      <div *ngIf="headerConfig.showUser" class="col-2">

        <!-- Checkout Icon -->
        <a href="#" class="text-white">
          <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
        </a>
      </div>

    </div>
    <!-- Navbar Links and Search -->
    <div class="collapse navbar-collapse desktop-viw-nav" id="navbarNav">
      <!-- Company Name -->
      <a *ngIf="headerConfig.showLogo" class="navbar-brand text-yellow title-desktop" href="javascript:void(0)"
        (click)="onClickLogo()">Y Company</a>
      <ul *ngIf="headerConfig.showCategories" class="navbar-nav ul-categories me-auto mb-lg-0">
        <!-- Categories (Men, Women, Kids) -->
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Kids</a>
        </li>
      </ul>

      <!-- Search Bar with Search Icon -->
      <form *ngIf="headerConfig.showSearchbar" class="d-flex me-3 search-box">
        <input class="form-control me-2" type="text"  name="search" placeholder="Search" aria-label="Search" [(ngModel)]="productSearchText">
        <button class="btn btn-outline-light" (click)="onProductSearch()">
          <i class="bi bi-search"></i>
        </button>
      </form>

      <!-- User Icon and Checkout Icon on the Right -->
      <div class="d-flex">
        <!-- User Icon -->
        <a *ngIf="headerConfig.showUser" href="#" class="text-white me-3">
          <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
        </a>

        <!-- Checkout Icon -->
        <!-- <a href="#" class="text-white">
          <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
        </a> -->
        <div *ngIf="headerConfig.showBag" class="cart-icon text-white" (click)="goToBag()">
          <i class="bi bi-bag"></i>
          <span class="badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="headerConfig.showSearchbar" class="mobile-view">
  <!-- Search Bar with Search Icon -->
  <form class="d-flex me-3 search-box">
    <input class="form-control me-2 search-input-mobile" type="text"  name="search" placeholder="Search" aria-label="Search" [(ngModel)]="productSearchText">
    <button class="btn btn-outline-gray" type="submit" (click)="onProductSearch()">
      <i class="bi bi-search"></i>
    </button>
  </form>
</div>

<!-- Sidebar -->
<div #sidebar class="sidebar" [class.open]="isSidebarOpen" *ngIf="headerConfig.showHeader">


  <!-- User Profile -->
  <div class="user-profile">
    <i class="bi bi-person-circle"></i>
    <span>User Profile</span>
  </div>

  <!-- Navigation Links -->
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="#" class="nav-link"><i class="bi bi-bag"></i> <span>Men</span></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"><i class="bi bi-bag-fill"></i> <span>Women</span></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"><i class="bi bi-basket"></i> <span>Kids</span></a>
    </li>
  </ul>
</div>