<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div *ngIf="product" class="container py-5">
  <div class="row">
    <!-- Product Image -->
    <div class="col-md-6">
      <img [src]="product.image" alt="Product Image" class="img-fluid rounded" style="max-width: 80%; height: auto;">
    </div>

    <!-- Product Info -->
    <div class="col-md-6">
      <h1 class="display-4">{{ product.title }}</h1>
      <p class="text-muted">{{ product.category }}</p> <!-- Display Category -->
      <p class="lead">{{ product.description }}</p>

      <!-- Rating Section -->
      <div *ngIf="product.rating">
        <p><strong>Rating: </strong>{{ product.rating.rate }} / 5 ({{ product.rating.count }} reviews)</p>
      </div>

      <h4 class="text-success">{{ product.price | currency }}</h4>

      <!-- Add to Cart Button -->
      <button class="btn btn-dark btn-lg mt-4 text-white" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</div>
