.carousel-indicators [data-bs-target] {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 5%;
    opacity: 1;
  }
  
  .carousel-indicators .active {
    background-color: #fff;
    opacity: 1;
  }