.carousel-indicators {
  margin-bottom: 5px;
}
.carousel-indicators [data-bs-target] {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-top:0;
    border-bottom: 0;
    opacity: 1;
  }
  
  .carousel-indicators .active {
    background-color: #fff;
    opacity: 1;
  }