<!-- product-list.component.html -->

<div class="container my-4">
  <!-- Show loading spinner while data is being fetched -->
  <div *ngIf="loading" class="text-center">
    <p>Loading products...</p>
  </div>

  <!-- Show error message if there's an error -->
  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>


</div>


<!-- Main Content Row -->
<div class="row">
  <!-- Filter Component Column (First Column) -->
  <div class="col-lg-3 col-md-4 col-sm-12 py-3">
    <!-- Add your filter component HTML here -->
    <div class="filter-container-desktop p-3 border bg-light">
      <app-product-filter-desktop-view></app-product-filter-desktop-view>
    </div>
  </div>

  <div class="col-lg-9 col-md-8 col-sm-12 py-3">
    <!-- The content of this column will be rendered dynamically by the router outlet -->
    <!-- Show products in a grid -->
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <!-- Loop through products and display each product -->
      <div class="col" *ngFor="let product of filteredProducts">
        <div class="card h-100" (click)="viewProductDetail(product.id)">
          <img [src]="product.image" class="card-img-top fixed-img" alt="Product Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="price">${{ product.price }}</p>
            <div class="mt-auto"></div> <!-- Push content to the bottom of the card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Floating Filter Icon -->
<div class="floating-icon">
  <button class="btn btn-floating" (click)="onFloatingIconClick()">
    <i class="bi bi-filter fs-1 text-warning" aria-hidden="true"></i>
  </button>
</div>
<app-product-filter-mobile-view #productFilterMobileViewOverlay></app-product-filter-mobile-view>