.row {
  margin: 0;

  * {
    padding: 0;
  }
}

  .parent-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;

    .content-div {
        flex: 1;
        background: #f5f5f5;
        overflow: auto;
        /* allows scrolling if content is large */
    }
}